.sub-petunjuk-1{
    background-color: #7BAF66;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    outline: 1px solid black;
}
.store input{
    width: 90%;
    height: 30px;
    outline: 1px solid black;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
.store button{
    width: 30%;
    height: 30px;
    outline: 1px solid black;
    border: none;
    border-radius: 5px;
    background-color: #7BAF66;
    color: #ffffff;
}
.edit{
    width: 50px;
    background-color: #3C748B;
    border: 1px solid black;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}
.hapus{
    width: 50px;
    background-color: #A66C7D;
    border: 1px solid black;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}